<div class="complist">
	<div class="group">常用组件</div>
	<div class="item" name="checkbox">
		<a>UICheckbox</a>
		<p>复选框组件，包含一个复选框和复选框的文本信息，摆脱浏览器固有复选框的样式，可自定义样式。</p>
	</div>
	<div class="item" name="combobox">
		<a>UICombobox</a>
		<p>复选框组件，包含一个复选框和复选框的文本信息，摆脱浏览器固有复选框的样式，可自定义样式。</p>
	</div>

	<div class="group">布局</div>
	<div class="item" name="container">
		<a>UIContainer</a>
		<p>jfdosj<code>&lt;foid&gt;</code>sjoij</p>
	</div>
</div>
