<div class="complist">
	<div class="group">基础组件</div>
	<div class="item" name="button">
		<a>UIButton</a>
		<p>按钮组件，一个<code>button</code>或<code>a</code>元素，允许设置按钮的样式和尺寸，如果按钮是一个链接则使用<code>a</code>元素。</p>
	</div>
	<div class="item" name="checkbox">
		<a>UICheckbox</a>
		<p>复选框组件，包含一个复选框(&lt;input type='checkbox'/&gt;)和复选框的文本信息，复选框样式自定义。</p>
	</div>
	<div class="item" name="combobox">
		<a>UICombobox</a>
		<p>组合框或下拉选择组件，显示一个文本输入框(&lt;input/&gt;)和一个下拉列表，组合框可以设置为只选或者可输入，用户可以从下拉列表中选择一个值，列表可分组显示。</p>
	</div>
	<div class="item" name="datagrid">
		<a>UIDatagrid</a>
		<p>数据网格组件，以行列形式显示填充数据集，每一个单元格可以是文本、链接等内容。UIDatagrid 只提供了轻量的数据网格编辑功能，如：显示或隐藏列数据、上下调整行、选择一行或多行数据等。</p>
	</div>
	<div class="item" name="dateinput">
		<a>UIDateInput</a>
		<p>日期选择输入框组件，点击输入框弹出日历，用户可以选择一个日期，日期显示格式可以自定义，默认格式为：yyyy-MM-dd。</p>
	</div>
	<div class="item" name="datepicker">
		<a>UIDatePicker</a>
		<p>日历日期选择组件，显示一个日历样式的面板，可以切换月份，选择一个日期。</p>
	</div>
	<div class="item" name="daterange">
		<a>UIDateRange</a>
		<p>选择日期范围组件，点击输入框弹出日历，用户可以选择一个开始日期和一个结束日期，日期显示格式可以自定义，默认格式为：yyyy-MM-dd。</p>
	</div>
	<div class="item" name="list">
		<a>UIList</a>
		<p>列表组件，将一个对象数组显示为一个列表，设置列表的项渲染器可以自定义每一个对象的显示内容。列表组件在移动端默认支持滚动加载。</p>
	</div>
	<div class="item" name="paginator">
		<a>UIPaginator</a>
		<p>分页组件，配合 UIDatagrid 和 UIList 组件实现翻译功能，提供记录数、页大小、总页数、当前页等信息。</p>
	</div>
	<div class="item" name="panel">
		<a>UIPanel</a>
		<p>面板组件，拥有一个标题栏和一个容器的组件，在标题栏上可以显示标题、添加按钮、显示选项等功能，容器内支持分组显示。</p>
	</div>
	<div class="item" name="radiobox">
		<a>UIRadioBox</a>
		<p>单选框组件，包含一个单选框(&lt;input type='radiobox'/&gt;)和单选框的文本信息，单选框样式自定义。</p>
	</div>
	<div class="item" name="radiogroup">
		<a>UIRadioGroup</a>
		<p>单选框组合组件，将多个单选框(UIRadioBox)组件组合成一个相互之间互斥的单选框组，保证组合内只有一个单选框被选中。</p>
	</div>
	<div class="item" name="tabbar">
		<a>UITabbar</a>
		<p>选项栏组件，也就是选项卡，用户点击选项卡可以相互切换，被点击的选项卡即处于选中状态，其它选项卡均处于未选中状态。</p>
	</div>
	<div class="item" name="tabview">
		<a>UITabView</a>
		<p>标签页视图组件，与选项栏组件合并使用，一个选项卡对应一个视图，选择相应的选项卡，显示相应的视图。默认显示选项栏，
可以隐藏，也可以自定义选项栏。</p>
	</div>
	<div class="item" name="textview">
		<a>UITextView</a>
		<p>文本输入组件，包含一个文本输入框元素(&lt;input&gt;或&lt;textarea&gt;)，为该输入框添加一键清除功能，
添加备注信息，限制文本输入，验证文本内容等。</p>
	</div>
	<div class="item" name="timerange">
		<a>UITimeRange</a>
		<p>时间范围选择组件，用户可以选择开始时间(时分)和结束时间(时分)，返回一个时间范围，如：08:25 - 15:30。</p>
	</div>
	<div class="item" name="tree">
		<a>UITree</a>
		<p>树形组件，显示一个树形的数据机构，包含节点和子节点，可以一层一层展开或收缩。<br/>数据结构如：
[{label: "", children: [{label: "", children: []}, {label: "", children: []}]}, {label: "", children: []}]</p>
	</div>

	<div class="group">布局</div>
	<div class="item" name="container">
		<a>UIContainer</a>
		<p>内容容器组件，允许设置容器的背景、边框、边距等，一个容器建议只有一个子视图。</p>
	</div>
	<div class="item" name="gridview">
		<a>UIGridView</a>
		<p>网格布局组件，按行列方式显示子组件，可以设置网格列数，默认为3列，所有子组件依次向下排列。</p>
	</div>
	<div class="item" name="group">
		<a>UIGroup</a>
		<p>组容器组件，将视图分组，多个子视图添加到一个组容器中。容器中的子视图默认是垂直布局，设置属性<code>orientation='horizontial'</code>
使得子视图水平布局，属性<code>gap</code>设置子组件之间的间距。</p>
	</div>
</div>
