@charset "utf-8";


#main-body { max-width: 1200px; margin: 40px auto 100px; padding-left: 190px; }

#main-body > .sidemenu { position: absolute; left: 0px; top: 0px; width: 160px; border-bottom: 1px solid #f6f6f6; }
#main-body > .sidemenu > .grp > .title { background-color: #f3f3f3; line-height: 28px; 
	padding-left: 10px; border-left: 2px solid #ddd; font-size: 14px; }
#main-body > .sidemenu > .grp > .menus > .menu { font-size: 12px; line-height: 26px; 
	background-color: #f6f6f6; border-left: 2px solid #ddd; padding-left: 15px; color: #787878; 
	cursor: pointer; }
#main-body > .sidemenu > .grp > .menus > .menu:hover { background-color: #ddd; }
#main-body > .sidemenu > .grp > .menus > .menu.selected { background-color: #fff; color: #333444;
	border-left-color: #333444; cursor: default; }


#main-body > .container { min-height: 120px; }

.comp-mod > .complist > .group { line-height: 32px; border-bottom: 1px solid #eee; margin-top: 40px; }
.comp-mod > .complist > .group:first-child { margin-top: 0px; }
.comp-mod > .complist > .item { border: 1px solid #ddd; background-color: #f0f0f0; border-radius: 3px; 
	margin-top: 20px; padding: 10px 20px; }
.comp-mod > .complist > .item > a { text-shadow: 1px 1px 1px #ffffff; }
.comp-mod > .complist > .item > p { font-size: 14px; color: #787878; margin-top: 10px; }
.comp-mod > .complist > .item > p code { color: #ff1e00; margin: 0px 3px; }


.comp-mod-base code { color: #EE5F03; background-color: #FFF7F7; font-size: 14px; padding: 0px 3px; display: inline-block; }

.comp-mod-base .msgbox { border: 1px solid #eee; border-radius: 3px; background-color: #fff; 
	padding: 12px 20px; font-size: 14px; margin-top: 25px; border-left: 3px solid #ddd; }
.comp-mod-base .msgbox > .title { font-size: 16px; }
.comp-mod-base .msgbox > .msg { color: #585858; }
.comp-mod-base .msgbox > .title + .msg { margin-top: 5px; }
.comp-mod-base .msgbox.danger { border-left-color: #ffc2c2; }
.comp-mod-base .msgbox.danger > .title { color: #ff4040; }
.comp-mod-base .msgbox.warn { border-left-color: #ffc899; }
.comp-mod-base .msgbox.warn > .title { color: #fb9540; }
.comp-mod-base .msgbox.info { border-left-color: #aae2fe; }
.comp-mod-base .msgbox.info > .title { color: #40bcf1; }

.comp-mod-base > .compinfos { margin-bottom: 25px; }
.comp-mod-base > .compinfos > .title { font-weight: bold; }
.comp-mod-base > .compinfos > .title > .name { font-size: 20px; color: #8B572A; }
.comp-mod-base > .compinfos > .title > .subname { font-size: 14px; color: #999; padding-left: 22px; }
.comp-mod-base > .compinfos > .title > .subname:before { content: ""; position: absolute; width: 6px; 
	height: 6px; background-color: #999; left: 8px; top: 6px; border-radius: 100px; }
.comp-mod-base > .compinfos > .desc { font-size: 16px; color: #999; margin-top: 20px; }
.comp-mod-base > section > h3 { font-size: 20px; font-weight: normal; margin: 25px 0px 0px; color: #585858; }
.comp-mod-base > section > .desc { margin-top: 10px; color: #999; }
.comp-mod-base > section > .demo { border: 1px solid #eee; margin-top: 10px; }
.comp-mod-base > section > .demo > .preview { padding: 20px; border-bottom: 1px solid #eee; }
.comp-mod-base > section > .demo > .preview .demo-title { line-height: 26px; padding-left: 10px; }
.comp-mod-base > section > .demo > .preview .demo-title:before { content: ""; position: absolute; 
	border-left: 5px solid #999; height: 16px; left: 0px; top: 5px; }
.comp-mod-base > section > .demo > .source { background-color: #f6f6f6; padding: 10px 20px; font-size: 14px;
	overflow: auto; }










