@charset "utf-8";

* { box-sizing: border-box; -moz-box-sizing: border-box; }

body { font-size: 16px; line-height: 22px; -webkit-font-smoothing: antialiased; background-color: #fff;
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif; }

body, div, p, form, ul, ol, dl, dt, dd, img, a, iframe, span, td { margin: 0px; padding: 0px; border: 0px; }
body, div, header, section, footer, li, span, a { position: relative; }

img { width: 100%; height: 100%; }

/* 超链接 */
a { text-decoration: none; display: inline-block; color: #0282F9; }
a:hover { text-decoration: underline; cursor: pointer; }
/* 列表中直接子标签A作为布局，使用默认样式 */
li > a, li > a:hover, li > a:visited { color: inherit; text-decoration: none; }

/* 列表样式 */
ul { list-style-type: none; }

table { border-collapse: collapse; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { line-height: normal; }




