@charset "utf-8";


#main-header { height: 55px; background-color: #333444; color: #fff; }
#main-header > .content { max-width: 1200px; height: 55px; margin: 0px auto; padding: 13px 0px 0px 130px; }
#main-header > .content > .logo { position: absolute; width: 80px; height: 55px; left: 0px; top: 0px; 
	background-image: url(/theme/logo2.png); background-repeat: no-repeat; background-position: center; 
	background-size: 80px; }
#main-header > .content > .menus > .menu { line-height: 28px; color: #fff; font-size: 20px; 
	padding-left: 25px; margin-right: 35px; opacity: .5; }
#main-header > .content > .menus > .menu:before { content: ""; position: absolute; width: 20px; 
	height: 20px; left: 0px; top: 4px; background-position: center; background-repeat: no-repeat; 
	background-size: 16px; }
#main-header > .content > .menus > .menu.selected { opacity: 1; }
#main-header > .content > .menus > .menu.quickstart:before { background-image: url('/theme/icons/menu_quickstart.png'); }
#main-header > .content > .menus > .menu.documents:before { background-image: url('/theme/icons/menu_document.png'); }
#main-header > .content > .menus > .menu.components:before { background-image: url('/theme/icons/menu_component.png'); }
#main-header > .content > .menus > .menu.styles:before { background-image: url('/theme/icons/menu_style.png'); }
#main-header > .content > .menus > .menu.apis:before { background-image: url('/theme/icons/menu_api.png'); }



